<div id="idea_list">

<% if @ideas.empty? %>
<p>Nothing to Do! Float Something!</p>
<% else %>
<ul>
<% @ideas.each do |idea| %>
	<li>
	<h2><%= link_to idea.what, idea %></h2>
	
	<div class="location"><%= idea.where %></div>
	<div class="time"><%= idea.when %></div>
	
	<div class="ago"><%= time_ago_in_words(idea.updated_at) %> ago</div>
	</li>
<% end %>
</ul>
<% end %>