/* 960.gs grid system */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}

/* Main style */


body {
	background : #fff;
}

section {
	background: #fff;
}

h1, h2, h3 {
	font-weight: bold;
}

h2, h3 {
	margin-bottom: .5em;
}

p, ul, ol {
	margin-bottom: 1em;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* links */
a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}

.container {
	width: 100%;
}
@media screen and (min-width: 940px) {
	.container {
		width: 940px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Navigation */
header {
	position: relative;
}

/* Home page */
#banner {
	font-family: 'Overlock', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 700;
	background: #f2ecd5;
	padding: 20px 0;
	min-height: 240px;
}
#banner h1 {
	color: #f5ab18;
	font-size: 6em;
}

#banner-inner {
	width: 940px;
	margin: 0 auto;
}
#banner .banner_left, #banner .banner_right {
	float: left;
	width: 470px;
}
#banner .banner_left {
	position: relative;
}

#register_container {
	position: absolute;
	font-weight: 900;
	font-size: 2em;
	text-align: center;
	left: 0;
}
#register_button, #register_button_shadow {
	position: absolute;
	padding: 10px;
	width: 200px;
	color: #fff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	text-decoration: none;
	
	font-size: 1.33em;
}
#register_button {
	background: #00a99d;
	top: -2px;
}
#register_button_shadow {
	background: #008f85;
	top: 1px;
}
#register_button:hover {
	top: 0;
}

footer {
	margin-top: 2em;
	margin-bottom: 2em;
}

/* Icons */
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image: url('/images/icons.png');
	vertical-align: middle;
}
.icon.time {
	background-position: -16px 0;
}

/* Idea list page */

#idea_list, #idea_create, #idea_page, #idea_edit {
	background: #00a99d;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.idea, .idea {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	clear: both;
}

.idea .actions div {
	float: left;
	margin-right: 20px;
}

#float_idea, #float_idea_shadow {
	display: block;
	position: absolute;
	padding: 10px;

	right: 0;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	font-size: 1.33em;
}
#float_idea {
	background: #f5ab18;
	color: #fff;

	bottom: 23px;
}
#float_idea_shadow {
	background: #cc8f14;
	
	bottom: 20px;
}
#float_idea:hover {
	text-decoration: none;
	bottom: 21px;
}

/* Idea create page */

.field label {
	display: block;
}
.field input {
	width: 420px;
	padding: 10px;
	border: 0;
	margin: 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#idea_what {
	font-size: 2em;
	width: 420px;
}


/* Idea detail page */

#idea_page {
	margin-bottom: 20px;
}

.idea_details {
	margin-bottom: 0;
}

#new_comment { /* form */
	margin-bottom: 1em;
}

#comment_message {
	float: left;
	width: 800px;
	border: 1px solid #ccc;
}
#comment_submit {
	float: left;
	margin-left: 10px;
	width: 120px;
	padding: 10px;
	background: #00a99d;
	border: 0;
	color: #fff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.comment {
	font-size: 1.16em;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

div.field, div.actions {
	margin-bottom: 10px;
}

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff;
}

#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}