/* 960.gs grid system */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}

/* Main style */


body {
	background : #fff;
	-webkit-text-resize: none;
}

section {
	background: #fff;
}

h1, h2, h3 {
	font-weight: bold;
}

h2, h3 {
	margin-bottom: .5em;
}

p, ul, ol {
	margin-bottom: 1em;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* links */
a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}

body {
	padding: 0 10px;
}
.container {
	width: 100%;
}
@media screen and (min-width: 940px) {
	body {
		padding: 0;
	}
	.container {
		width: 940px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Navigation */
header {
	position: relative;
}

/* Home page */
#banner {
	font-family: 'Overlock', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 700;
	background: #f2ecd5;
	padding: 20px 0;
	min-height: 240px;
}
#banner h1 {
	color: #f5ab18;
	font-size: 4.5em;
}

#banner {
	margin: 0 -10px;
}

#banner .banner_left {
	position: relative;
}

#banner .banner_left {
	margin: 0 auto;
	text-align: center;
}

#banner .banner_right {
	min-width: 0;
	margin: 0 auto;
}
#banner .banner_right iframe {
	max-width: 100%;
	margin: 0 auto;
}

#register_container {
	position: relative;
	font-weight: 900;
	font-size: 2em;
	text-align: center;
	width: 200px;
	height: 55px;
	margin: 0 auto;
	margin-bottom: 1em;
}
#register_button, #register_button_shadow {
	position: absolute;
	padding: 10px;
	width: 200px;
	color: #fff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	text-decoration: none;
	
	font-size: 1.33em;
}
#register_button {
	background: #00a99d;
	top: -2px;
}
#register_button_shadow {
	background: #008f85;
	top: 1px;
}
#register_button:hover {
	top: 0;
}


@media screen and (min-width: 940px) {
	#banner h1 {
		font-size: 6em;
	}
	#banner-inner {
		width: 940px;
		margin: 0 auto;
	}
	#banner .banner_left, #banner .banner_right {
		float: left;
	}
	#banner .banner_left {
		width: 500px;
		height: 315px;
		text-align: left;
	}
	#banner .banner_right {
		width: 440px;
	}
	
	#register_container {
		position: absolute;
		margin: 0;
		bottom: 0;
	}
	
	#banner .banner_right iframe {
		width: 420px;
		margin-left: 20px;
	}	
}

footer {
	margin-top: 2em;
	margin-bottom: 2em;
}

/* Icons */
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background-image: url('/images/icons.png');
	vertical-align: middle;
}
.icon.time {
	background-position: -16px 0;
}
.icon.delete {
	background-position: 0 -16px;
}
.icon.edit {
	background-position: -16px -16px;
}

/* Idea list page */

#idea_list, #idea_create, #idea_page, #idea_edit {
	background: #00a99d;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.idea{
	position: relative;
	background: #fff;
	padding: 20px;
	border-bottom: 2px solid #008f85;
	margin-bottom: 20px;
	clear: both;
}

.idea h2 {
	display: inline-block;
}
.idea .ago {
	display: inline-block;
	color: #666;
}
.idea .actions {
	clear: both;
}
.idea .actions div {
	float: left;
	margin-right: 20px;
}

#float_idea, #float_idea_shadow {
	display: block;
	position: absolute;
	padding: 10px;

	right: 0;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	font-size: 1.33em;
}
#float_idea {
	background: #f5ab18;
	color: #fff;

	bottom: 23px;
}
#float_idea_shadow {
	background: #cc8f14;
	
	bottom: 20px;
}
#float_idea:hover {
	text-decoration: none;
	bottom: 21px;
}

.arrow {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 24px;
	height: 24px;
	background-image: url('/images/arrow.png');
}
.arrow:hover {
	background-position: -24px 0;
}

.user_controls {
	display: block;
	margin-top: 1em;
}

/* Idea create page */

.field label {
	display: block;
}
.field input {
	width: 420px;
	padding: 10px;
	border: 0;
	margin: 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#idea_create .field input, #idea_edit .field input {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	border-bottom: 2px solid #008f85;
	font-size: 1.33em;
}

#idea_create #idea_what, #idea_edit #idea_what,
#idea_create #idea_submit, #idea_edit #idea_submit {
	font-size: 2em;
	font-weight: bold;
}
#idea_create .fieldset .field, #idea_edit .fieldset .field {
	float: left;
	width: 49%;
}
#idea_create .fieldset .field:first-child,
#idea_edit .fieldset .field:first-child{
	margin-right: 2%;
}

#idea_create .actions, #idea_edit .actions {
	position: relative;
	float: left;
	height: 51px;
	width: 200px;
	margin-top: 20px;
}
#idea_submit, #idea_submit_shadow {
	position: absolute;
	width: 200px;
	height: 48px;
	border: 0;
	margin: 0;
	
	color: #fff;
	font-size: 1.33em;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	cursor: pointer;
}
#idea_submit {
	top: -1px;
	background: #f5ab18;
	width: 200px;
}
#idea_submit:hover {
	top: 1px;
}
#idea_submit_shadow {
	top: 2px;
	background: #cc8f14;
}
#idea_create #cancel, #idea_edit #cancel,
#idea_create #cancel a, #idea_edit #cancel a {
	color: #fff;
}
#idea_create #cancel a, #idea_edit #cancel a {
	text-decoration: underline;
}


/* Idea detail page */

#idea_page {
	margin-bottom: 20px;
}

.idea_details {
	margin-bottom: 0;
}

#new_comment { /* form */
	margin-bottom: 1em;
}

#new_comment .field {
	margin-right: 160px;
}

#comment_message {
	width: 100%;
	border: 3px solid #ccc;
	margin-right: 140px;
}
#new_comment .action {
	position: relative;
	float: right;
	width: 120px;
	height: 35px;
}
#comment_submit, #comment_submit_shadow {
	position: absolute;
	
	background: #00a99d;
	width: 120px;
	height: 35px;
	border: 0;
	color: #fff;
	
	font-size: 1.33em;
	text-align: center;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	cursor: pointer;
}
#comment_submit {
	top: -1px;
}
#comment_submit:hover {
	top: 1px;
}
#comment_submit_shadow {
	background: #008f85;
	top: 2px;
}

.comment {
	font-size: 1.16em;
	padding: 10px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	margin-bottom: .5em;
}

div.field, div.actions {
	margin-bottom: 10px;
}

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff;
}

#error_explanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#error_explanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}