<%= form_for(@comment) do |f| %>
<div class="field">
	<%= f.text_field :message, :placeholder => "Write a comment" %>
</div>
<%= f.hidden_field :idea_id, :value => @idea.id %>
<div class="actions">
	<%= f.submit %>
</div>

<div class="clearfix"></div>
<% end %>