<%= form_for(@comment) do |f| %>
<%= f.hidden_field :idea_id, :value => @idea.id %>

<div class="action">
	<div id="comment_submit_shadow"></div>
	<%= f.submit "Comment" %>
</div>

<div class="field">
	<%= f.text_field :message, :placeholder => "Write a comment" %>
</div>

<div class="clearfix"></div>
<% end %>