<% if signed_in? %>

<ul>
<% current_user.ideas.each do |idea| %>
	<li><%= idea.inspect %></li>
<% end %>
</ul>

<h1>Easy planning.</h1>

<h1>The User is Signed In: <%= current_user.email %></h1>

<% else %>

<div id="home">
<div id="banner">
	<div class="container_12">
		<div class="grid_6">
			<h1>The super social planning app</h1>
			
			<div id="register_button">
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
			</div>
		</div>
		
		<div class="grid_6">
		Product screenshots
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>

</div>
<% end %>