<% if signed_in? %>
<title>Signed In</title>
<h1>The User is Signed In: <%= current_user.email %></h1>

<% else %>
<title><%=@title%></title>
<h1>Sample App</h1>
<p>
	This is the home page for the 
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	sample application.
</p>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>