<h1>App List</h1>

<ul>
<% @ideas.each do |idea| %>
	<li>
	<p>What: <%= idea.what %></p>
	<p>Who: <%= idea.who %></p>
	<p>When: <%= idea.when %></p>
	<p>Where: <%= idea.where %></p>
	</li>
<% end %>
</ul>