<header class="container">
	<% logo = image_tag("logo.png", :alt => "Sample App") %>
	<%= link_to logo, root_path %>
	
	<nav>
		<% if signed_in? %>
		<%= link_to "Float an Idea", new_idea_path, :id => "float_idea_shadow" %>
		<%= link_to "Float an Idea", new_idea_path, :id => "float_idea" %>
		<% end %>
	</nav>
</header>